<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Rental Service</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('vehicle_blueprint.generate_vehicles') }}">Vehicles</a></li>
            <li><a href="{{ url_for('employee_blueprint.retrieve_employees') }}">Employees</a></li>
            <li><a href="{{ url_for('customer_blueprint.retrieve_customers') }}">Customers</a></li> <!-- Updated link for Customers -->
            <li><a href="{{ url_for('order_blueprint.retrieve_orders') }}">Orders</a></li>
        </ul>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>